<h3 class="ui header">{{ p.title }}</h3>
<p>{{ p.content }}</p>

<!-- Button  -->
<div class="ui labeled button" tabindex="0">
    <div class="ui button">
        <i class="heart icon"></i> Like
    </div>
    <a class="ui basic label">
        2,048
    </a>
</div>
<div class="ui labeled button" tabindex="0">
<div class="ui basic blue button">
    <i class="comments icon"></i> Comment
    </div>
    <a class="ui basic label">
        1,048
    </a>
</div>


<h4 class="ui horizontal header divider">
    <a href="#">{{ p.category.category_name }}</a>
</h4>