<div class="ui segment">
    <form method="POST" action="{% url 'login' %}" class="ui large inverted form">
        {% csrf_token %}
        <div class="ui container">
            <div class="ui row">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="username" autofocus="" required="" id="id_username">
                    <!-- <input type="text" name="email" placeholder="E-mail address" required> -->
                </div>
            </div>
            <br>
            <div class="ui row">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" required="" id="id_password">
                    <!-- <input type="password" name="password" placeholder="Password" required> -->
                </div>
            </div>
            <br>
            <div class="ui row inline field">
                <button class="ui primary button" type="submit"> login</button>
                <button class="ui button"> sign up</button>
            </div>

        </div>
    </form>
</div>